
:root {
  --color-primary: #23559d;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  $breakpoint-largest: 75em; // 1200px
  $breakpoint-large: 68.75em; // 1100px
  $breakpoint-medium: 56.25em; // 900px
  $breakpoint-small: 37.5em; // 600px
  $breakpoint-smallest: 31.25em; // 500px
}



* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after { box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color-primary);
  background-size: cover;
  background-repeat: no-repeat; 
  min-height: 100vh;
}
